web/WEB-INF/wsdl/localhost_8083/ClimaWSHibernate/ClimaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.udea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.udea.com/" name="ClimaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.udea.com/" schemaLocation="http://localhost:8083/ClimaWSHibernate/ClimaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="ingresarRegistro">
<part name="parameters" element="tns:ingresarRegistro"/>
</message>
<message name="ingresarRegistroResponse">
<part name="parameters" element="tns:ingresarRegistroResponse"/>
</message>
<message name="buscarRegistro">
<part name="parameters" element="tns:buscarRegistro"/>
</message>
<message name="buscarRegistroResponse">
<part name="parameters" element="tns:buscarRegistroResponse"/>
</message>
<message name="consultarRegistro">
<part name="parameters" element="tns:consultarRegistro"/>
</message>
<message name="consultarRegistroResponse">
<part name="parameters" element="tns:consultarRegistroResponse"/>
</message>
<portType name="ClimaWS">
<operation name="ingresarRegistro">
<input wsam:Action="http://service.udea.com/ClimaWS/ingresarRegistroRequest" message="tns:ingresarRegistro"/>
<output wsam:Action="http://service.udea.com/ClimaWS/ingresarRegistroResponse" message="tns:ingresarRegistroResponse"/>
</operation>
<operation name="buscarRegistro">
<input wsam:Action="http://service.udea.com/ClimaWS/buscarRegistroRequest" message="tns:buscarRegistro"/>
<output wsam:Action="http://service.udea.com/ClimaWS/buscarRegistroResponse" message="tns:buscarRegistroResponse"/>
</operation>
<operation name="consultarRegistro">
<input wsam:Action="http://service.udea.com/ClimaWS/consultarRegistroRequest" message="tns:consultarRegistro"/>
<output wsam:Action="http://service.udea.com/ClimaWS/consultarRegistroResponse" message="tns:consultarRegistroResponse"/>
</operation>
</portType>
<binding name="ClimaWSPortBinding" type="tns:ClimaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ingresarRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClimaWS">
<port name="ClimaWSPort" binding="tns:ClimaWSPortBinding">
<soap:address location="http://localhost:8083/ClimaWSHibernate/ClimaWS"/>
</port>
</service>
</definitions>